<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="topbot.css">
    <link rel="stylesheet" href="admin.css">
</head>
<body>
    <header>
        <div class="header_warp">
            <a href="#" class="main_logo">JEIU CAPSTONE</a>
        </div>
        <div class="nav_warp">
            <ul class="nav">
                <li><a href="index.html">HOME</a></li>
                <li><a href="registerProject.html">작품등록</a></li>
                <li><a href="capstone1.html">작품보기</a></li>
                <li><a href="notice.html">공지사항</a></li>
                <li><a href="login.html">LOGIN</a></li>
            </ul>
            <a href="#" id="search_icon"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
    </header>
    <div id="admin">
        <div class="wrap">
            <h1>관리자 페이지</h1>
            <p>이 페이지는 관리자만 접근할 수 있습니다.</p>
        </div>
    </div>
    <footer>
        <div class="footer_warp">
            <div class="sec">
                <a href="index.html"><img src="media/main_logo.svg"></a>
                <ul>
                    <li>
                        <p>송림캠퍼스</p>
                    </li>
                    <li>22573 인천광역시 동구 재능로 178</li>
                </ul>
                <ul
